*,
*:after,
*:before
{
	margin:						0;
	padding:					0;

	box-sizing:					border-box;
	-moz-box-sizing:			border-box;
	-webkit-box-sizing:			border-box;
}

::selection { background:		rgba(255,255,255,.5); }

::-moz-selection { background: 	rgba(255,255,255,.5); }

body
{
	background: 				no-repeat center center fixed;
	font:						1em Helvetica, Arial;
	margin:						0;
	padding:					0;

	background-size:			cover;
	-moz-background-size:		cover;
	-o-background-size:			cover;
	-webkit-background-size:	cover;


}

.centered 
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container
{
	height:						400px;
	margin-left:				-277.5px;
	margin-top:					250px;
	/* margin-bottom:			0px; */
	width:						555px;

	position: 					fixed;
	bottom:						0;
	left:						50%;
}

.info
{
	padding:					20px;
	position: 					fixed;
	bottom:						0;
	left:						0;
}

h1
{
	font-size:					3.5em;
}

.info h2
{
	font-size:					2.25em;
}

.temp
{
    vertical-align: top;
    padding: 20px;
}


/* Need to figure out how to get the image of text to change with temperature */
/*
    .weathertext {
                width:550px;
                height:550px;
                background: url(img/words/02n.png);
                background-repeat: no-repeat;
                background-attachment: center center;
                background-size: 550px 550px;
            }
*/