*,
*:after,
*:before
{
	margin:						0;
	padding:					0;

	box-sizing:					border-box;
	-moz-box-sizing:			border-box;
	-webkit-box-sizing:			border-box;
}

::selection { background:		rgba(255,255,255,.5); }

::-moz-selection { background: 	rgba(255,255,255,.5); }

body
{
	background: 				no-repeat center center fixed;
	font:						1em Helvetica, Arial;
	margin:						0;
	padding:					0;

	background-size:			cover;
	-moz-background-size:		cover;
	-o-background-size:			cover;
	-webkit-background-size:	cover;


}

.centered 
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container
{
	height:						400px;
	margin-left:				-277.5px;
	margin-top:					250px;
	/* margin-bottom:			0px; */
	width:						555px;

	position: 					fixed;
	bottom:						0;
	left:						50%;
}

.info
{
	padding:					20px;
	position: 					fixed;
	bottom:						0;
	left:						0;
}

h1
{
	font-size:					3.5em;
}

.info h2
{
	font-size:					2.25em;
}

.temp
{
    vertical-align: top;
    float:left;
    padding: 20px;
}

.wind
{
    vertical-align: top;
    float:right;
    padding: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav div {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav div:hover {
  background-color: #ddd;
  color: black;
}

.topnav div.active {
  background-color: #4CAF50;
  color: white;
}
